{% load tz %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'client_crud/style.css' %}">
    <script>
        // Функция для обновления времени
        function updateTime() {
            var now = new Date();
            var hours = String(now.getHours()).padStart(2, '0');
            var minutes = String(now.getMinutes()).padStart(2, '0');
            var seconds = String(now.getSeconds()).padStart(2, '0');
            var timeString = hours + ":" + minutes + ":" + seconds;
            document.getElementById('clock').innerHTML = timeString;
        }

        // Обновляем время каждую секунду
        setInterval(updateTime, 1000);

        // Обновляем сразу после загрузки страницы
        window.onload = updateTime;
    </script>
</head>

<body>
    <header>
        <h1>Брокер-Ассист</h1>
        <!-- Отображаем время, которое передано с сервера при загрузке страницы -->
        <p>Московское время: 
            <span id="clock">
                {% localtime on %} {{ now|date:"H:i:s" }} {% endlocaltime %}
            </span>
        </p>
    </header>
    
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'client_list' %}">Список клиентов</a>
        <a href="{% url 'contacts' %}">Контакты</a>
        <a href="{% url 'about' %}">О нас</a>
    </nav>
    
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>
