<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ current_tag.name }} - Доска объявлений</title>
</head>
<body>
    <h1>Клиенты</h1>
    <h2>Рубрика: {{ current_tag.name }}</h2>
    <div>
        <a href="{% url 'index' %}"></a>
        {% for tag in tags %}
        <a href="{% url 'by_tag' tag.pk %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
    {% for cl in clients %} 
    <div>
        <h2>{{ cl.name }}</h2>
        <p>{{ cl.phone_number }}</p>
        <p>{{ cl.email }}</p>
    </div>
    {% endfor %}
</body>
</html>
