{% extends "client_crud/basic.html" %}
{% block content %}
{% block title %}<title>Клиенты по тэгам</title>{% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <h1>Клиенты</h1>
    <h2>Рубрика: {{ current_tag.name }}</h2>
    <div>
        <a href="{% url 'index' %}"></a>
        {% for tag in tags %}
        <a href="{% url 'by_tag' tag.pk %}">{{ tag.name }}</a>
        {% endfor %}
        <br>
        <br>
        <a href="{% url 'add' %}">Добавить</a></h1>
    </div>
    {% for cl in clients %} 
    <div>
        <h2>{{ cl.name }}</h2>
        <p>{{ cl.phone_number }}</p>
        <p>{{ cl.email }}</p>
    </div>
    {% endfor %}
    <body>
    
        {% endblock %}