{% extends "client_crud/basic.html" %}
{% block content %}
{% block title %}<title>Список клиентов</title>{% endblock %}

<head>
    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>

<body>
    <h1>Список клиентов</h1>
    
    <a href="{% url 'add' %}">Добавить клиента</a>
    <a href="{% url 'tag_list' %}">Список тегов</a>
    <!-- Ссылка для добавления клиента -->
    <br>
    <br>
    <div>   
        {% for tg in tags %}
        <tr class='success'>
            <td><a href="{% url 'clients_by_tag' tg.pk %}">{{ tg.name }}</a></td>
        </tr>
        {% endfor %}
    </div>
    <br>
    <table>
        <tr>
            <th>Ф.И.О.</th>
            <th>Номер телефона</th>
            <th>Адрес электронной почты</th>
            <th>Тэги</th>
        </tr>
        
        {% for per in persons %}
        <tr>
            <!-- Ссылка на детальную информацию о клиенте -->
            <td><a href="{% url 'client_detail' per.pk %}">{{ per.lastname }} {{ per.name }}</a></td>
            <td>{{ per.phone_number }}</td>
            <td>{{ per.email }}</td>
            <td>
                {% for tag in per.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Нет тегов
                {% endfor %}
            </td>
        </tr>

        {% endfor %}
    </table>
</body>

{% endblock %}
