{% extends "client_crud/basic.html" %}
{% block content %}
{% block title %}<title>Список клиентов</title>{% endblock %}

<head>
    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>

<body>
    <h1>Список клиентов</h1>

    <!-- Фильтр по тегам (если необходим) -->
    <div>   
        {% for tg in tag %}
        <tr class='success'>
            <td><a href="{% url 'by_tag' tg.pk %}">{{ tg.name }}</a></td>
        </tr>
        {% endfor %}
    </div>
    <br>

    <!-- Ссылка для добавления клиента -->
    <a href="{% url 'add' %}">Добавить клиента</a>
    <br>

    <!-- Таблица с клиентами -->
    <table>
        <tr>
            <th>Ф.И.О.</th>
            <th>Номер телефона</th>
            <th>Адрес электронной почты</th>
        </tr>
        
        {% for per in persons %}
        <tr>
            <!-- Ссылка на детальную информацию о клиенте -->
            <td><a href="{% url 'client_detail' per.pk %}">{{ per.lastname }} {{ per.name }}</a></td>
            <td>{{ per.phone_number }}</td>
            <td>{{ per.email }}</td>
        </tr>

        <!-- Теги клиента -->
        <tr>
            <td colspan="3">
                <ul>
                    {% for tag in per.tags.all %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

{% endblock %}
