{% extends "client_crud/basic.html" %}
{% block content %}
<h1>Информация о клиенте</h1>
<table>
    <tr>
        <th>Ф.И.О.</th>
        <td>{{ client.lastname }} {{ client.name }}</td>
    </tr>
    <tr>
        <th>Номер телефона</th>
        <td>{{ contact.phone_number }}</td>
    </tr>
    <tr>
        <th>Адрес электронной почты</th>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <th>Теги</th>
        <td>
            <ul>
                {% for tag in client.tags.all %}
                <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<!-- Добавляем ссылки для редактирования и удаления клиента -->
<a href="{% url 'client_edit' client.pk %}">Редактировать</a> |
<a href="{% url 'client_delete' client.pk %}">Удалить</a> |
<a href="{% url 'client_list' %}">Вернуться к списку клиентов</a>
{% endblock %}
