{% extends "client_crud/basic.html" %}
{% block content %}
    <h1>Клиенты с тегом "{{ tag.name }}"</h1>
    <table>
        <tr>
            <th>Ф.И.О.</th>
            <th>Номер телефона</th>
            <th>Электронная почта</th>
        </tr>
        {% for person in persons %}
        <tr>
            <td><a href="{% url 'client_detail' person.pk %}">{{ person.lastname }} {{ person.name }}</a></td>
            <td>
                {% if person.contacts.all %}
                    {% for contact in person.contacts.all %}
                        {{ contact.phone_number }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    Не указан
                {% endif %}
            </td>
            <td>
                {% if person.contacts.all %}
                    {% for contact in person.contacts.all %}
                        {{ contact.email }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    Не указан
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Нет клиентов с этим тегом.</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'client_list' %}">Назад к списку клиентов</a>
{% endblock %}