{% extends "client_crud/basic.html" %}

{% block content %}
<h1>Список клиентов</h1>
<input type="button" onclick="history.back();" value="Пред. страница" />

<br><br>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<!-- Новый блок для отображения сообщения -->
{% if massage %}
<p style="color: red;">{{ massage }}</p>
{% endif %}

<form method="post" action="{% url 'search_by_inn' %}">
    {% csrf_token %}
    <label for="inn_number">Введите ИНН:</label>
    <input type="text" id="inn_number" name="inn_number" maxlength="12" required>
    <button type="submit">Поиск</button>
</form>

<br><br>

<!-- Ссылка для добавления клиента -->
<a href="{% url 'add' %}">Добавить клиента</a>
<br><br>

<div>
    <h3>Теги клиентов:</h3>
    {% for tg in tags %}
    <a href="{% url 'clients_by_tag' tg.pk %}">{{ tg.name }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}
    <p>Нет тегов для отображения.</p>
    {% endfor %}
</div>

<!-- Таблица с клиентами -->
<table>
    <thead>
        <tr>
            <th>Ф.И.О.</th>
            <th>Номер телефона</th>
            <th>Адрес электронной почты</th>
            <th>Тег клиента</th>
        </tr>
    </thead>
    <tbody>
        {% for per in persons %}
        <tr>
            <td><a href="{% url 'client_detail' per.pk %}">{{ per.lastname }} {{ per.name }}</a></td>
            <td>
                {% if per.contact %}
                    {{ contact.phone_number }}
                {% else %}
                    Не указан
                {% endif %}
            </td>
            <td>
                {% if per.contact %}
                    {{ contact.email }}
                {% else %}
                    Не указан
                {% endif %}
            </td>
            <td>
                {% if per.tags.all %}
                {% for tag in per.tags.all %}
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% else %}
                <span>Нет тегов</span> <!-- Обработка случая, когда у клиента нет тегов -->
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Нет клиентов для отображения.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
